body {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: Rounded-Black;
    font-weight: regular;
    src: url("fonts/Rounds Black.otf") format("opentype");
}

.quote {
    font-family: Rounded-Black;
    font-size: 40px;
    position: fixed;
    width: 40vw;
    /*adjustable width with text ?*/
    text-align: center;
    color: white;
    margin: 0 auto;
    right: 0;
    left: 0;
    margin-top: 47vh;
    z-index: 100002;
}